<div class="modal-header">
  <h4 class="modal-title">Create Decision Model</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">
	<span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
	<div class="input-group mb-3">
		<div class="input-group-prepend">
    		<span class="input-group-text">Name</span>
  		</div>
  		<input type="text" class="form-control" [(ngModel)]="dmName">
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
    		<span class="input-group-text">Version</span>
  		</div>
  		<input type="text" class="form-control" [(ngModel)]="dmVersion">
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
    		<span class="input-group-text">Display Name</span>
  		</div>
  		<input type="text" class="form-control" [(ngModel)]="dmDisplayName">
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
    		<span class="input-group-text">Description</span>
  		</div>
  		<textarea class="form-control" aria-label="With textarea" [(ngModel)]="dmDescription"></textarea>
	</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="onCreate()">Create</button>
</div>

