<div class="modal-header">
  <h4 class="modal-title">Update Decision Model</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">
	<span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

	<div class="form-row">
		<div class="form-group col-lg-8">
			<label for="inputModelName">Model Name (no spaces)</label>
			<input type="text" class="form-control" id="inputModelName" placeholder="Model Name" [(ngModel)]="dmName">
		</div>
		<div class="form-group col-lg-4">
			<label for="inputModelVersion">Model Version</label>
			<input type="text" class="form-control" id="inputModelVersion" placeholder="Version" [(ngModel)]="dmVersion">
		</div>
	</div>
	
	<div class="form-group">
		<label for="inputModelDisplayName">Display Name</label>
  		<input type="text" class="form-control" id="inputModelDisplayName" placeholder="Display Name" [(ngModel)]="dmDisplayName">
	</div>
	
	<div class="form-group">
		<label for="inputModelDescription">Model Description</label>
		<textarea class="form-control" id="inputModelDescription" rows="5" aria-label="With textarea" placeholder="Please describe here, what this model is for..." [(ngModel)]="dmDescription"></textarea>
	</div>
	
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="onUpdate()">Update</button>
</div>

