<div class="container">
	<div class="row">
		<div class="col-sm my-5">
			<h1 class="display-3 font-weight-normal" align="center">Decision Threads</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-lg mt-8">
			<div class="btn-toolbar float-right" role="toolbar" >
				<div class="btn-group ml-2" role="group">
					<a type="button" class="btn btn-primary" routerLink="/threads">Threads</a>
					<a type="button" class="btn btn-primary" routerLink="/main">Main</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg mt-1">
			<ul class="list-group">
				<li class="list-group-item">
					<div class="btn-toolbar float-right" role="toolbar" >
						<div class="btn-group ml-2" role="group">
							<button type="button" class="btn btn-outline-secondary float-right" >decide current state</button>
							<!-- <a type="button" class="btn btn-outline-primary float-right" routerLink="/showDecisionModel/{{item.uuid}}">show model</a> -->
						</div>
					</div>
					Thread X / problem / Ticket IDs 
					Model / version -> decide/work	
				</li>
			</ul>
		</div>
	</div>
		

</div>
