<div class="container">
	<div class="row">
		<div class="col-sm my-5">
			<h1 class="display-3 font-weight-normal" align="center">Decision Threads</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-lg mt-8">
			<div class="btn-toolbar float-right" role="toolbar" >
				<div class="btn-group ml-2" role="group">
					<a type="button" class="btn btn-primary" routerLink="/threads">Threads</a>
					<a type="button" class="btn btn-primary" routerLink="/models">Models</a>
					<a type="button" class="btn btn-primary" routerLink="/kbase">Knowledge-Base</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg mt-1">
			<ul class="list-group">
				<li *ngFor="let thread of decisionThreadIndex.threads;" class="list-group-item">
					<div class="btn-toolbar float-right" role="toolbar" >
						<div class="btn-group ml-2" role="group">
							<button type="button" class="btn btn-outline-secondary">decide current state</button>
							<a type="button" class="btn btn-outline-primary"  routerLink="/showDecisionThread/{{thread.uuid}}">show thread</a>
							<a type="button" class="btn btn-outline-primary"  routerLink="/showDecisionModel/{{thread.currentmodel}}">show model</a>
						</div>
					</div>
					Model + version (TODO: query referenced decision model for (display)name and version)
					Thread X / problem
					
					<div>
					{{thread.currentstate}} / {{thread.owner}}
					</div>
					<div>
						<span *ngFor="let ticketID of thread.ticketreference;" class="badge badge-success mr-1">{{ticketID}}</span>
					</div>					
				</li>
				
			</ul>
		</div>
	</div>
		

</div>
