<div class="modal-header">
  <h4 class="modal-title">Update Decision Node</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">
	<span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
	<div class="input-group mb-3">
		<div class="input-group-prepend">
    		<span class="input-group-text">Name</span>
  		</div>
  		<input type="text" class="form-control" [(ngModel)]="dnName">
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
    		<span class="input-group-text">KB-Article</span>
  		</div>
  		<select class="custom-select" [(ngModel)]="dnKBArticle">
	  		<option value="">Empty</option>
	  		<option *ngFor="let article of articles" value="{{article.uuid}}">{{article.pagetitle}}</option>
  		</select>
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
    		<span class="input-group-text">Type</span>
  		</div>
  		<select class="custom-select" [(ngModel)]="dnType">
	  		<option value="start">Start</option>
	  		<option value="end">End</option>
	  		<option value="hit">Human Task</option>
	  		<option value="mit">Machine Task</option>
	  		<!-- INVOKE AND IMPLICATION -->
  		</select>
	</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="onUpdate()">Update</button>
</div>

