<div class="modal-header">
  <h4 class="modal-title">Update Decision Node</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">
	<span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

	<div class="form-row">
		<div class="form-group col-lg-8">
			<label for="inputNodeName">Node Name</label>
			<input type="text" class="form-control" id="inputModelName" placeholder="Node Name" [(ngModel)]="dnName">
		</div>
		<div class="form-group col-lg-4">
			<label for="inputNodeType">Node Type</label>
			<select class="custom-select" id="inputNodeType" [(ngModel)]="dnType">
		  		<option value="start">Start</option>
		  		<option value="end">End</option>
		  		<option value="hit">Human Task</option>
		  		<option value="mit">Machine Task</option>
		  		<!-- INVOKE AND IMPLICATION -->
  			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="inputKBArticleReference">Knowledge Base Article Reference</label>
  		<select class="custom-select" id="inputKBArticleReference" [(ngModel)]="dnKBArticle">
	  		<option value="">Empty</option>
	  		<option *ngFor="let article of articles" value="{{article.uuid}}">{{article.pagetitle}}</option>
  		</select>
	</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="onUpdate()">Update</button>
</div>

