<div class="modal-header">
  <h4 class="modal-title">Update Decision Node</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">
	<span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
	NODE TYPE,
	NODE NAME,
	KB ARTICLE
	add / remove OUTGOING NODE TRANSITIONS
	add / remove INCOMMING TRANSITIONS?
	change TRANSITIONS	
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="onCreate()">Create</button>
</div>

