<div class="modal-header">
  <h4 class="modal-title">Create Decision Node Transition</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">
	<span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

	<div class="form-row">
		<div class="form-group col-lg-6">
			<label for="inputTransitionName">Transition Name</label>
			<input type="text" class="form-control" id="inputTransitionName" placeholder="Transition Name" [(ngModel)]="dntName">
		</div>
		<div class="form-group col-lg-6">
			<label for="inputToTransition">Transit To</label>
	  		<select class="custom-select" id="inputTransitionTo" [(ngModel)]="dntNextNode" >
		  		<option *ngFor="let nextnode of dntNodeList"  value="{{nextnode.uuid}}">{{nextnode.name}}</option>
  			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="inputTransitionGuard">Transition Guard</label>
  		<textarea class="form-control form-monospace" id="inputTransitionReportTemplate" [(ngModel)]="dntGuard"></textarea>
	</div>
	
	<div class="form-group">
		<label for="inputTransitionReportTemplate">Report Template</label>
  		<textarea class="form-control" id="inputTransitionReportTemplate" aria-label="With textarea" [(ngModel)]="dntTemplate"></textarea>
	</div>
	
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="onCreate()">Create</button>
</div>
