<div class="modal-header">
  <h4 class="modal-title">Create Decision Node Transition</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">
	<span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

	<div class="input-group mb-3">
		<div class="input-group-prepend">
    		<span class="input-group-text">Name</span>
  		</div>
  		<input type="text" class="form-control" [(ngModel)]="dntName">
	</div>

	<div class="input-group mb-3">
		<div class="input-group-prepend">
    		<span class="input-group-text">Template</span>
  		</div>
  		<textarea class="form-control" aria-label="With textarea" [(ngModel)]="dntTemplate"></textarea>
	</div>
	
	<div class="input-group mb-3">
		<div class="input-group-prepend">
    		<span class="input-group-text">Transit If</span>
  		</div>
  		<input type="text" class="form-control" [(ngModel)]="dntTransitIf">
	</div>
	
	<div class="input-group mb-3">
		<div class="input-group-prepend">
    		<span class="input-group-text">To</span>
  		</div>
  		<select class="custom-select" [(ngModel)]="dntNextNode">
	  		<option *ngFor="let nextnode of dntNodeList"  value="{{nextnode.uuid}}">{{nextnode.name}}</option>
  		</select>
	</div>
	
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="onCreate()">Create</button>
</div>
