<div class="modal-header">
  <h4 class="modal-title">Create Decision Node</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">
	<span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
	BODY
	
	ASK FOR: Node parameters 
	TYPE = HIT / MIT / END / START / INVOKE / IMPLICATION
	KB REFERENCE
	FOLLOWNODES?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="onCreate()">Create</button>
</div>

