<div class="container">
	<div class="row">
		<div class="col-sm my-5">
			<h1 class="display-3 font-weight-normal" align="center">Knowledge Base</h1>
		</div>
	</div>
	
	<app-main-navigation></app-main-navigation>

	<div class="row">
		<div class="col-lg">
			<div class="btn-toolbar float-right mt-2" role="toolbar" >
				<div class="btn-group ml-2" role="group">
					<button type="button" class="btn btn-secondary" (click)="onCreateArticle()">Create article</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg mt-2">
			<ul class="list-group">
				<li *ngFor="let article of kbarticleIndex.result" class="list-group-item" >
					<div class="btn-toolbar float-right" role="toolbar" >
						<div class="btn-group ml-2" role="group">
							<a type="button" class="btn btn-outline-primary float-right" routerLink="/showArticle/{{article.uuid}}">show</a>
						</div>
					</div>
				
					<h5>{{article.pagetitle}} &mdash; rev.: {{article.revision}}</h5>
					<p>{{article.pagesummary}}</p>
				</li>
			</ul>
		</div>	
	</div>
	
</div>
