<div class="container">
	<div class="row">
		<div class="col-sm my-5">
			<h1 class="display-3 font-weight-normal" align="center">Decision Models</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg mt-1">
			<ul class="list-group">
				<li *ngFor="let item of decisionModelIndex.items;" class="list-group-item">
					<div class="btn-toolbar float-right" role="toolbar" >
						<div class="btn-group ml-2" role="group">
							<button type="button" class="btn btn-outline-secondary float-right" (click)="onClickDecisionModelShow(item.uuid)">show</button>
							<button type="button" class="btn btn-outline-primary float-right" (click)="onClickDecisionModelExecute(item.uuid)">execute</button>
						</div>
					</div>
					<h5>{{item.displayname}} &mdash; {{item.version}}</h5>
					<p>{{item.description}}</p>
				</li>
			</ul>
		</div>
	</div>
</div>
