<div class="modal-header">
  <h4 class="modal-title">Inspect Thread Log Item</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">
	<span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

	<div class="row">
		<div class="col-lg mt-2">
			<p>{{errorItem.timestamp}}</p>
			<h5><span class="badge" [ngClass] = "{'badge-danger': errorItem.level==='error'}">{{errorItem.level}}</span>{{errorItem.message}}</h5>
		</div>
	</div>

	<div class="row">
		<div class="col-lg mt-2">
			<h6>Stacktrace:</h6>
			
			<ul class="list-group">
				<li *ngFor="let stackframe of errorItem.data.stacktrace; let i = index" class="list-group-item ">
					{{errorItem.data.stacktrace[i]}}
				</li>
			</ul>
		</div>
	</div>
</div>


