	<div class="row">
		<div class="col-lg mt-8">
			<div class="btn-toolbar float-right" role="toolbar" >
				<div class="btn-group ml-2" role="group">
					<a type="button" class="btn btn-primary" routerLink="/main" routerLinkActive="active">Main</a>
					<a type="button" class="btn btn-primary" routerLink="/threads" routerLinkActive="active">Threads</a>
					<a type="button" class="btn btn-primary" routerLink="/models" routerLinkActive="active">Models</a>
					<a type="button" class="btn btn-primary" routerLink="/kbase" routerLinkActive="active">Knowledge-Base</a>
				</div>
			</div>
		</div>
	</div>

