<div class="container">
	<div class="row">
		<div class="col-sm my-5">
			<h1 class="display-3 font-weight-normal" align="center">Decision Model</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg mt-8">
			<h3>{{decisionModel.displayname}} &mdash; {{decisionModel.version}}</h3>
			
			<p>{{decisionModel.name}}</p>
			<p>{{decisionModel.description}}</p>
			
			<div class="btn-toolbar float-right" role="toolbar" >
				<div class="btn-group ml-2" role="group">
					<button type="button" class="btn btn-secondary" (click)="onCreateNode()">Create Node</button>
					<button type="button" class="btn btn-secondary" (click)="onCreateModel()" >Create Model</button>
					<button type="button" class="btn btn-secondary" (click)="onCopyModel()">Copy Model</button>
					<button type="button" class="btn btn-secondary" (click)="onEditModel()">Edit Model</button>
				</div>
			</div>
		</div>
	</div>
			
	<div class="row">
		<div class="col-lg mt-1">
			<ul class="list-group">
				<li *ngFor="let node of decisionModel.nodes; let i = index" class="list-group-item list-group-item-action">
					<p>{{node.uuid}}</p>
					<p>{{node.type}}</p>
					<p>{{node.kbarticle}}</p>
					<ul class="list-grpoup">
						<li *ngFor="let nextAction of node.nextActions" class="list-group-item list-group-item-action">
							{{nextAction.name}} -- {{nextAction.next}} -- {{nextAction.template}}
						</li>
					</ul>
				</li>	
			</ul>
		</div>
	</div>
	
</div>


