<div class="container">
	<div class="row">
		<div class="col-sm my-5">
			<h1 class="display-3 font-weight-normal" align="center">Decision Model</h1>
		</div>
	</div>
	
	<app-main-navigation></app-main-navigation>
	
	<div class="row">
		<div class="col-lg mt-8">
			<h3>{{decisionModel.displayname}} &mdash; {{decisionModel.version}}</h3>
			
			<p>{{decisionModel.name}}</p>
			<p>{{decisionModel.description}}</p>
			
			<div class="btn-toolbar float-right" role="toolbar" >
				<div class="btn-group ml-2" role="group">
					<button type="button" class="btn btn-secondary" (click)="onCreateNode(decisionModel.uuid)">Create Node</button>
					<button type="button" class="btn btn-secondary" (click)="onCreateModel()" >Create Model</button>
					<button type="button" class="btn btn-secondary" (click)="onCopyModel()">Copy Model</button>
					<button type="button" class="btn btn-secondary" (click)="onEditModel()">Edit Model</button>
					<button type="button" class="btn btn-secondary" (click)="onPersistModel(decisionModel.uuid)">Persist Model</button>
				</div>
			</div>
		</div>
	</div>
			
	<div class="row">
		<div class="col-lg mt-1">
			<ul class="list-group">
				<li *ngFor="let node of decisionModel.nodes; let i = index" class="list-group-item" >
					<button type="button" class="btn btn-outline-secondary float-right" (click)="onClickDecisionNode(decisionModel.uuid,node)">edit</button>
					<h4>{{node.name}} <span class="badge" [ngClass] = "{'badge-primary': node.type==='start', 'badge-success': node.type==='hit', 'badge-danger': node.type==='end', 'badge-info': node.type==='mit'}">{{node.type}}</span></h4>
					<p>{{node.kbarticle}}</p>
					<button type="button" class="btn btn-outline-secondary float-right ml-1" (click)="onAddDecisionNodeTransition(decisionModel.uuid ,node)">add</button>
					<ul class="list-group">
						<li *ngFor="let nextAction of node.nextactions; let i = index" class="list-group-item list-group-item-action" (click)="onClickDecisionNodeTransition(decisionModel.uuid, node, i)" >
							<span class="badge badge-secondary mr-1">{{decisionNodeMap.get(nextAction.next)?.name}}</span> -- {{nextAction.name}} -- {{nextAction.template}}
						</li>
					</ul>
				</li>	
			</ul>
		</div>
	</div>
	
</div>


