<div class="container">
	<div class="row">
		<div class="col-sm my-5">
			<h1 class="display-3 font-weight-normal" align="center">Show Decision Thread</h1>
		</div>
	</div>

	<app-main-navigation></app-main-navigation>	
	
	<div class="row">
		<div class="col-lg mt-1">
			<h2>{{decisionModel.displayname}} / {{decisionModel.version}}</h2>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg mt-1">
			<div class="btn-toolbar float-right" role="toolbar" >
				<div class="btn-group ml-2" role="group">
					<a type="button" class="btn btn-outline-primary" routerLink="/showDecisionThreadReport/{{decisionThread.uuid}}">show thread report</a>
					<a type="button" class="btn btn-outline-primary" routerLink="/showDecisionModel/{{decisionThread.currentmodel}}">show full model</a>
				</div>
			</div>
		
			<h3>CurrentState</h3>
			<ul class="list-group">
				<li class="list-group-item">
					<h4>{{currentNodeData.name}} <span class="badge" [ngClass] = "{'badge-primary': currentNodeData.type==='start', 'badge-success': currentNodeData.type==='hit', 'badge-danger': currentNodeData.type==='end', 'badge-info': currentNodeData.type==='mit'}">{{currentNodeData.type}}</span></h4>
					
					<div *ngIf="currentNodeData.kbarticle == ''; then thenArticleBlock else elseArticleBlock" class="card"></div>
					<ng-template #thenArticleBlock>
						<div class="card-body">
							<div class="text-muted">
							Sorry, this decision node has no link to any further article. I guess you are on your own... for making that decision.
							</div> 
						
							<!-- No Article given: say user, that no further instructions are available --> 
						</div>
					</ng-template>
					<ng-template #elseArticleBlock>
						<div class="card mb-1 mt-3">
							<div class="card-body">
								<div class="btn-toolbar float-right" role="toolbar" >
									<div class="btn-group ml-2" role="group">
										<a type="button" class="btn btn-outline-primary" href="/showArticle/{{currentNodeData.kbarticle}}" target="_blank">read</a>								
									</div>
								</div>
								<h5>{{currentArticle.pagetitle}}</h5>
								<div class="text-muted">
								{{currentArticle.pagesummary}}
								</div> 
							</div>
						</div>
					</ng-template>
					
					<!--  TODO: Extract this function?-->
					<div *ngIf="inputUIInterfaceLength!=0" class="card mb-1 mt-3">
						<h5 class="card-header">Decsion Node Thread Data Input</h5>
						<div class="card-body">
							<div *ngFor="let inputElement of inputUIInterfaceItems" class="form-group">
								<ng-container *ngIf="inputElement.type=='textfield'">
									<label for="inputUIElement_{{inputElement.label}}">{{inputElement.label}}</label>
									<!-- TODO: also implement a way to fill the data / bind the model -->
									<input type="text" id="inputUIElement_{{inputElement.label}}" class="form-control">
								</ng-container>
								<ng-container *ngIf="inputElement.type=='textarea'">
									<label for="inputUIElement_{{inputElement.label}}">{{inputElement.label}}</label>
									<!-- TODO: also implement a way to fill the data / bind the model -->
									<textarea class="form-control" id="inputUIElement_{{inputElement.label}}"></textarea>
								</ng-container>
								
								
							</div>

							<ul>
								<li>TODO: render input fields according to all the signatures and such...</li>
								<li>TODO: only HIT nodes will provide the input field</li>
								<li>TODO: transfer form data and then continue the thread</li>
							</ul>							
														
						</div>
						<div class="card-footer">
							<div class="btn-toolbar float-right" role="toolbar" >
								<div class="btn-group ml-2" role="group">
									<button type="button" class="btn btn-primary">commit thread data</button>
								</div>
							</div> 
						</div>
					</div>
					
					
					<h4>The next possible states are</h4>
					<ul class="list-group mt-1">
						<li *ngFor="let decision of currentNodeData.nextactions" class="list-group-item">
							<!-- TODO: shorten the guard / so to speak a short version of the guard before the first '{' -->
							<span class="badge badge-secondary">{{decisionNodeMap.get(decision.next)?.name}}</span> &mdash; if ({{decision.guard}})
						</li>
					</ul>
					
				</li>
				
				<li class="list-group-item">
					<div class="container mt-2">
						<div class="btn-toolbar float-right" role="toolbar" >
							<div class="btn-group ml-2" role="group">
								<button type="button" class="btn btn-danger" (click)="onRetryThread()" >retry / next / continue</button>
							</div>
						</div>
						The Button will cause the node to be evaluated and that all transitions are tested, the first to be found true, will succeed
					</div>
				</li>
			</ul>
			
		</div>
	</div>

</div>

<div class="container mt-2">
	<div class="row">
		<div class="col-lg mt-1">
			<h3>Recent Changes in current Thread</h3>
			<p>created: {{decisionThread.created}}</p>
			<p>modified: {{decisionThread.modified}}</p>
			<p>finalized: {{decisionThread.finalized}}</p>
			<ul class="list-group">
				<li class="list-group-item">
				</li>
			</ul>
		</div>
	</div>
		
	
	
	
</div>
