<div class="container">
	<div class="row">
		<div class="col-sm my-5">
			<h1 class="display-3 font-weight-normal" align="center">Show Decision Thread</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg mt-8">
			<div class="btn-toolbar float-right" role="toolbar" >
				<div class="btn-group ml-2" role="group">
					<a type="button" class="btn btn-primary" routerLink="/threads">Threads</a>
					<a type="button" class="btn btn-primary" routerLink="/main">Main</a>
				</div>
			</div>
			<h2>Current State</h2>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg mt-1">
			<ul class="list-group">
				<li class="list-group-item">
				</li>
			</ul>
			
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg mt-1">
			<h2>Recent Changes in current Thread</h2>
			<ul class="list-group">
				<li class="list-group-item">
				</li>
			</ul>
		</div>
	</div>
		
	
	
	
</div>
