<div class="container">
	<div class="row">
		<div class="col-sm my-5">
			<h1 class="display-3 font-weight-normal" align="center">Show Decision Thread</h1>
		</div>
	</div>

	<app-main-navigation></app-main-navigation>
	
	<div class="row">
		<div class="col-lg mt-1">
			<h2>decisionModel.displayname / decisionModel.version</h2>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg mt-2">
			<div class="btn-toolbar float-right" role="toolbar" >
				<div class="btn-group ml-2" role="group">
					<a type="button" class="btn btn-outline-primary" routerLink="/showDecisionThread/{{decisionThread.uuid}}">show thread</a>
					<a type="button" class="btn btn-outline-primary" routerLink="/showDecisionThreadReport/{{decisionThread.uuid}}">show thread report</a>
					<a type="button" class="btn btn-outline-primary" routerLink="/showDecisionModel/{{decisionThread.currentmodel}}">show full model</a>
				</div>
			</div>
		</div>
	</div>

	<p>show-decision-thread-errors works!</p>


	<div class="row">
		<div class="col-lg mt-2">
			<h3>Recent Errors</h3>
			<ul class="list-group">
				<li *ngFor="let erroritem of decisionThreadErrorItems; let i = index" class="list-group-item list-group-item-action" (click)="onShowErrorDetails(erroritem)">
					<p>{{erroritem.timestamp*1000 | date: 'yyyy-MM-dd HH:mm:ss z'}}</p>
					<h5><span class="badge" [ngClass] = "{'badge-danger': erroritem.level==='error'}">{{erroritem.level}}</span>{{erroritem.message}}</h5>
				</li>
			</ul>
		</div>
	</div>

</div>
